
profiles {
  standard {
    process.executor = 'local'
  }
  modules {
    process.$kangaAlign.module = 'biokanga/4.3.9:singularity/2.4.0'
  }
  cluster {
    process.executor = 'slurm'
    process.cpus = '8'
    process.memory = '10GB'
    process.$kangaAlign.module = 'biokanga/4.3.9:singularity/2.4.0'
  }
  containers {
    process.$kangaAlign.container = 'rsuchecki/biokanga:4.3.9'
    singularity.enabled = true
    //Avoid pulling singularity images each time
    //Shared drive location available to all compute nodes
    //as singularity pull called once only
    singularity.cacheDir = 'singularity-images'
  }
}

//GENERATE REPORT
report.enabled = true
