// Global default params, used in configs
params {
  version = '0.1dev' //Pipeline version
  //nf_required_version = '0.27.6' //Minimum version of Nextflow required
  //container = '???/???:latest' // Container slug. Stable releases should specify release tag!

  // Pipeline Options
  url = "ftp://ftp.ensemblgenomes.org/pub/plants/release-38/fasta/arabidopsis_thaliana/dna/Arabidopsis_thaliana.TAIR10.dna.toplevel.fa.gz"
  seqerrs = 1.5
  nreads = 100000
  outdir = './results'
}

profiles {
  standard {
    process.executor = 'local'
  }
  modules {
    includeConfig 'conf/modules.config'
  }
  docker {
    includeConfig 'conf/containers.config'
    docker.enabled = true
  }
  slurm {
    includeConfig 'conf/slurm.config'
  }
  singularity {
     includeConfig 'conf/containers.config'
     includeConfig 'conf/singularity.config'
  }
  singularitymodule {
    process.module = 'singularity/2.4.0'
  }
}

//GENERATE REPORT
report.enabled = true



//for task-specific allocation see https://github.com/SciLifeLab/NGI-RNAseq/blob/master/conf/base.config

