// Global default params, used in configs
params {
  version = '0.1dev' //Pipeline version
  //nf_required_version = '0.27.6' //Minimum version of Nextflow required
  //container = '???/???:latest' // Container slug. Stable releases should specify release tag!
  // Pipeline Options
    url = "ftp://ftp.ensemblgenomes.org/pub/plants/release-38/fasta/arabidopsis_thaliana/dna/Arabidopsis_thaliana.TAIR10.dna.toplevel.fa.gz"
    name = "A_thaliana"
  seqerrs = 1.5
  nreadsarr = [100] //[1000,2000,3000,4000]
  outdir = './results'
}

profiles {
  standard {
    process.executor = 'local'
  }
  modules {
    includeConfig 'conf/modules.config'
  }
  docker {
    includeConfig 'conf/containers.config'
    docker.enabled = true
//    docker.runOptions = '-u $(id -u):$(id -g)' //uncomment if encountering permissions issues caused by container defining a custom user (as do  at least some biocontainers)
  }
  slurm {
    includeConfig 'conf/slurm.config'
  }
  singularity {
    includeConfig 'conf/containers.config'
    includeConfig 'conf/singularity.config'
  }
  singularitymodule {
    process.module = 'singularity/2.4.0'
  }

}

//GENERATE REPORT https://www.nextflow.io/docs/latest/tracing.html#trace-report
report {
    enabled = true
    file = 'flowinfo/report.html'
}

//GENERATE TIMELINE https://www.nextflow.io/docs/latest/tracing.html#timeline-report
timeline {
    enabled = true
    timeline.file = 'flowinfo/timeline.html'
}

//GENERATE PIPELINE TRACE https://www.nextflow.io/docs/latest/tracing.html#trace-report
trace {
    enabled = true
    
}

//for task-specific allocation see https://github.com/SciLifeLab/NGI-RNAseq/blob/master/conf/base.config



