process {
//    $fastQC.container = 'nfcore/rnaseq:latest' //'genomicpariscentre/fastqc:0.11.5'
//    $multiQC.container = 'nfcore/rnaseq:latest' //'ewels/multiqc:v1.5'
    $fastQC.container = 'genomicpariscentre/fastqc:0.11.5'
    $multiQC.container = 'ewels/multiqc:v1.5'
    $kangaSimReads.container = 'rsuchecki/biokanga:4.3.9'
    $kangaIndex.container = 'rsuchecki/biokanga:4.3.9'
    $kangaAlign.container = 'rsuchecki/biokanga:4.3.9'
    $hisat2Index.container = 'cyverse/hisat2:2.0.5'
    $hisat2Align.container = 'cyverse/hisat2:2.0.5'
//    $sam2bam.container = 'genomicpariscentre/samtools:1.4.1'
}
