process {
    withName: extractStatsFromBAMs {
      container = 'genomicpariscentre/samtools:1.4.1'
    }
    withName: fastQC {
      container = 'genomicpariscentre/fastqc:0.11.5'
    }
    withName: multiQC {
      container = 'ewels/multiqc:v1.5'
    }
    withName: fasta2mockFASTQ {
      container = 'rsuchecki/pigz:2.3.4'
    }
    withLabel: biokanga {
      container = 'rsuchecki/biokanga:4.3.9'
    }
    withLabel: hisat2 {
      container = 'cyverse/hisat2:2.0.5'
    }
}
