//process {
//    $fastQC.module = 'fastqc/0.11.5'
//    $multiQC.module = 'python/2.7.13'
//    $kangaSimReads.module = 'biokanga/4.3.9'
//    $kangaIndex.module = 'biokanga/4.3.9'
//    $kangaAlign.module = 'biokanga/4.3.9'
//    $hisat2Index.module = 'hisat/2.0.5'
//    $hisat2Align.module =  ['hisat/2.0.5', 'samtools/1.7.0']
//    $extractStatsFromBAMs.module = 'samtools/1.7.0'
//}
process {
//    withName: extractStatsFromBAMs {
//      module = 'samtools/1.7.0'
//    }
    withName: fastQC {
      module = 'fastqc/0.11.5'
    }
    withName: multiQC {
      module = 'python/2.7.13'
    }
    //Multiple processes with label
    withLabel: biokanga {
      module = 'biokanga/4.3.9'
    }
    withLabel: hisat2 {
      module = 'hisat/2.0.5'
    }
    withLabel: samtools {
      module = 'samtools/1.7.0'
    }
}
