process {
  withName: multiQC {
    publishDir {
      path = "${params.outdir}/MultiQC"
      mode = "${params.publishmode}"
    }
  }
  withName: kangaAlign {
    publishDir {
      path = "${params.outdir}/BAMs/biokanga"
      mode = "${params.publishmode}"
    }
  }
  withName: hisat2Align {
    publishDir {
      path = "${params.outdir}/BAMs/hisat2"
      mode = "${params.publishmode}"
    }
  }
  withName: combineStats {
    publishDir {
      path = "${params.outdir}/stats"
      mode = "${params.publishmode}"
    }
  }
  withName: MOCK_generateFigures {
    publishDir {
      path = "${params.outdir}/figures"
      mode = "${params.publishmode}"
    }
  }
  withName: MOCK_generateReportMatter {
    publishDir {
      path = "${params.outdir}/report"
      mode = "${params.publishmode}"
    }
  }
}
