process {
  publishDir.mode = "${params.publishmode}"
  withName: multiQC {
    publishDir {
      path = "${params.outdir}/MultiQC"
//      mode = "${params.publishmode}"
    }
  }
  withName: kangaAlign {
    publishDir {
      path = "${params.outdir}/BAMs/biokanga"
    }
  }
  withName: hisat2Align {
    publishDir {
      path = "${params.outdir}/BAMs/hisat2"
    }
  }
  withName: combineStats {
    publishDir {
      path = "${params.outdir}/stats"
    }
  }
  withName: MOCK_generateFigures {
    publishDir {
      path = "${params.outdir}/figures"
    }
  }
  withName: MOCK_generateReportMatter {
    publishDir {
      path = "${params.outdir}/report"
    }
  }
}
