process {
    $multiQC.publishDir.path = "${params.outdir}/MultiQC"
    $multiQC.publishDir.mode = "${params.publishmode}"
    $kangaAlign.publishDir.path = "${params.outdir}/BAMs/biokanga"
    $kangaAlign.publishDir.mode = "${params.publishmode}"
    $hisat2Align.publishDir.path = "${params.outdir}/BAMs/hisat2"
    $hisat2Align.publishDir.mode = "${params.publishmode}"
    $combineStats.publishDir.path = "${params.outdir}/stats"
    $combineStats.publishDir.mode = "${params.publishmode}"
    $MOCK_generateFigures.publishDir.path = "${params.outdir}/figures"
    $MOCK_generateFigures.publishDir.mode = "${params.publishmode}"
    $MOCK_generateReport.publishDir.path = "${params.outdir}/report"
    $MOCK_generateReport.publishDir.mode = "${params.publishmode}"
}
