process {
    errorStrategy = 'retry'
    maxRetries = '4'
    cpus = '2'
    memory = '2GB'
    time = '2h'
    $kangaSimReads {
        cpus = '2'
        memory = '2GB'
    }
    $kangaIndex {
        cpus = '2'
        memory = '2GB'
    }
    $kangaAlign {
        cpus = { check_max( 2 * task.attempt, 'cpus' ) }
        memory = { check_max( 4GB * task.attempt, 'memory' ) }
        time = { check_max( 2h * task.attempt, 'time' ) }
    }
    $hisat2Index {
        cpus = '2'
        memory = '2GB'
    }
    $hisat2Align {
        cpus = '2'
        memory = '4GB'
    }
}

params {
  // Defaults to be overwritten
  max_memory = '128GB'
  max_cpus = '16'
  max_time = '48h'
}
