process {
    errorStrategy = 'retry'
    maxRetries = 4
    cpus = 2
    memory = 2.GB
    time = 2.h
    $kangaSimReads {
        cpus = 2
        memory = 2.GB
    }
    $kangaIndex {
        cpus = 2
        memory = 2.GB
    }
    $kangaAlign {
        cpus = { check_max( 2 * task.attempt, 'cpus' ) }
        memory = { check_max( 4.GB * task.attempt, 'memory' ) }
        time = { check_max( 2.h * task.attempt, 'time' ) }
    }
    $hisat2Index {
        cpus = 2
        memory = 2.GB
    }
    $hisat2Align {
        cpus = { check_max( 2 * task.attempt, 'cpus' ) }
        memory = { check_max( 4.GB * task.attempt, 'memory' ) }
        time = { check_max( 2.h * task.attempt, 'time' ) }
    }
}

params {
  // Defaults to be overwritten
  max_memory = 128.GB
  max_cpus = 16
  max_time = 48.h
}

//in script: java -Xmx${task.memory.toGiga()}g  -jar \$PICARD_HOME/picard.jar \
