process {
    cpus = '1'
    memory = '1GB'
    $kangaSimReads {
        cpus = '2'
        memory = '2GB'
    }
    $kangaIndex {
        cpus = '2'
        memory = '2GB'
    }
    $kangaAlign {
        cpus = '2'
        memory = '4GB'
    }
    $hisat2Index {
        cpus = '2'
        memory = '2GB'
    }
    $hisat2Align {
        cpus = '2'
        memory = '4GB'
    }
}
