process { 
    executor = 'slurm'
    cpus = '1'
    memory = '1GB'
    $kangaSimReads {
        cpus = '1'
        memory = '1GB'
    }
    $kangaIndex {
        cpus = '1'
        memory = '1GB'
    }
    $kangaAlign {
        cpus = '1'
        memory = '1GB'
    }
    $hisat2Index {
        cpus = '1'
        memory = '1GB'
    }
    $kangaAlign {
        cpus = '1'
        memory = '1GB'
    }
}
