process { 
    executor = 'slurm'
    cpus = '2'
    memory = '2GB'
    $kangaSimReads {
        cpus = '8'
        memory = '8GB'
    }
    $kangaIndex {
        cpus = '8'
        memory = '8GB'
    }
    $kangaAlign {
        cpus = '8'
        memory = '8GB'
    }
    $hisat2Index {
        cpus = '8'
        memory = '8GB'
    }
    $kangaAlign {
        cpus = '8'
        memory = '8GB'
    }
}
